<!--The content below is only a placeholder and can be replaced.-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container table-area" style="overflow-x:auto;">

  <h1>
    Welcome to {{ title }}!
  </h1>

  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">E-mail</th>
        <th scope="col">Company</th>
        <th scope="col">Date of Entry</th>
        <th scope="col">Organization Number</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Zip</th>
        <th scope="col">Geo</th>
        <th scope="col">Pan</th>
        <th scope="col">Pin</th>
        <th scope="col">Id</th>
        <th scope="col">Status</th>
        <th scope="col">Fee</th>
        <th scope="col">Guid</th>
        <th scope="col">Last Day</th>
        <th scope="col">First Day</th>
        <th scope="col">Most Recent Day</th>
        <th scope="col">Url</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of mydata;" scope="row">
        <td>
          {{d.name}}
          <form action="" method="post">
          <input type="submit" name= "Id[]" status = "status" class="btn btn-info btn-sm" value="Submit">
        </form>
        </td>
        <td>
          {{d.phone}}
        </td>
        <td>
          {{d.email}}
        </td>
        <td>
          {{d.company}}
        </td>
        <td>
          {{d.date_entry}}
        </td>
        <td>
          {{d.org_num}}
        </td>
        <td>
          {{d.address_1}}
        </td>
        <td>
          {{d.city}}
        </td>
        <td>
          {{d.zip}}
        </td>
        <td>
          {{d.geo}}
        </td>
        <td>
          {{d.pan}}
        </td>
        <td>
          {{d.pin}}
        </td>
        <td>
          {{d.id}}
        </td>
        <td>
          {{d.status}}
        </td>
        <td>
          {{d.fee}}
        </td>
        <td>
          {{d.guid}}
        </td>
        <td>
          {{d.date_exit}}
        </td>
        <td>
          {{d.date_first}}
        </td>
        <td>
          {{d.date_recent}}
        </td>
        <td>
          {{d.url}}
        </td>
      </tr>
    </tbody>
    <tfoot class="pagination">
      <td><a href="#">1</a></td>
      <td><a href="#">2</a></td>
      <td><a href="#">3</a></td>
      <td><a href="#">4</a></td>
      <td><a href="#">5</a></td>
    </tfoot>
  </table>
</div>
